<aside id="layout-menu" class="layout-menu menu-vertical menu" style="background-color: #29317a;">

    <div class="app-brand demo ">
        <a href="index-2.html" class="app-brand-link">
            <span class="app-brand-logo demo">
                <span class="text-primary">
                    <img src="../../assets/cardifylogo2.png" class="img-fluid" alt="..."
                        style="height: 32px;"></span></span>
                        <span class="app-brand-text demo menu-text fw-bold ms-2" style="color: white;">cardify<span style="color: #f59830">Tz</span></span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="icon-base bx bx-chevron-left"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>



    <ul class="menu-inner py-1">
        
        <li class="menu-item">
            <a href="/user/security" class="menu-link" style="color: white;">
                 <i class="menu-icon icon-base bx bx-shield"></i>
                <div data-i18n="Security">security</div>
            </a>
        </li>
        

    </ul>


</aside>